* {
  padding: 0;
  margin: 0;
  border: 0;
}

#csvdata {
    display: none;
}

body {
  background-color: #1F003D;
}

.exp {
  font-size: 25px;
}

.arc path {
  stroke: #fff;
}

.red {
  color: #FF4747;
}

.yellow {
  color: #FAD767;
}

.green {
  color: #19A347;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image {
  position: relative;
  width: 100%;
  user-select: none;
}

#android {
  position: absolute;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

#demo {
  margin-top: 6%;
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  width: 324px;
  height: 562px;
  background: seashell;
  cursor: hand;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.prev {
  margin-left: -18.2%;
  border-width: 50px 50px 50px 0;
  border-color: transparent #00a136 transparent transparent;
  user-select: none;
}

.next {
  margin-left: 14.25%;
  border-width: 50px 0 50px 50px;
  border-color: transparent transparent transparent #00a136;
}

.next:hover {
  border-color: transparent transparent transparent #93ffb7;
}

.prev:hover {
  border-color: transparent #93ffb7 transparent transparent;
}

#demo li.first {
  background: seashell;
}

#demo li.middle {
  background: seashell;
}

#demo li.middle_2 {
  background: seashell;
}

#demo li.last {
  background: seashell;
}

.navbar-default {
  background: seashell;
  border: none;
}

.button {
  height: 0;
  width: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  cursor: pointer;
  border-style: solid;
}

#rick {
  align: center;
  width: 120%;
}

#rick-text {
  margin-left: 15px;
  font-size: 30px;
}

#gu-tinder {
  width: 40px;
}

#prof-pic {
  border-radius: 100%;
  width: 250px;
}

.circleborder {
  margin-left: 30px;
  border: 5px solid #DF4824;
  border-radius: 100%;
  display: inline-block;
}

.highlightit {
  -moz-opacity: 0.75;
  opacity: 0.75;
}

.highlightit:hover {
  -moz-opacity: 1;
  opacity: 1;
}

#yes,#no {
  margin-left: 50px;
  margin-right: 55px;
  width: 50px;
}

.info {
  margin-top: 40px;
  margin-left: 50px;
}

.navbar {
  margin-top: 5px;
}

#title {
  color: #DF4824;
  margin: 5px;
  font-size: 30px;
}

#donut {
  margin-top: 40px;
  margin-bottom: 50px;
}

#databases,#editor {
  margin-top: 20px;
  margin-left: 15px;
}
#web-examples {
  margin-top: 20px;
  margin-left: 15px;
  font-size: large;
}
