<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">

    {% if page.cover %}
      <div id="cover-photo-container">
        <img id="cover-photo" src="/images/{{ page.cover }}">
      </div>
    {% endif %}

    {% if page.custom_div_id %}
      <div id="{{page.custom_div_id}}" style="height: 500px; width: 750px"></div>
    {% endif %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script src='/scripts/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}

    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</span>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span>
    </p>
  </div>
</div>
